[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "themes/herring-cove"]
	path = themes/herring-cove
	url = https://github.com/spf13/herring-cove.git
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = git@github.com:kimcc/hugo-theme-noteworthy.git
